*.dSYM
*.so
v-projects/projects/sdl2_tester/sdl_tester
v-projects/projects/imgui_tester/imgui.ini
v-projects/projects/imgui_tester/imgui_tester
v-projects/projects/flecs_tester/flecs_tester
v-projects/projects/physfs_tester/physfs_tester
v-projects/projects/gl3w_tester/gl3w_tester
v-projects/projects/gl3w_tester/gl3w_cube
v-projects/projects/fmod_tester/fmod_tester
v-projects/projects/fmod_tester/fmod_physfs_tester
imgui/thirdparty
imgui/Generator/bin
imgui/Generator/obj
imgui/cimgui_git
gl3w/thirdparty
gl3w/generator/bin
gl3w/generator/obj
gl3w/generator/xml/doc
gl3w/gl41
gl3w/gl33
flecs/thirdparty
flecs/flecs_git
physfs/physfs_hg
physfs/thirdparty
fmod/generator/obj
fmod/generator/bin
fmod/core/*gen.v
fmod/studio/*gen.v
fmod/fmodstudioapi20006linux
fmod/core/c
fmod/studio/c
v-projects/projects/stb/*.png
v-projects/projects/stb/*.jpg
v-projects/projects/stb/stb_tester
v-projects/projects/stb/truetype_tester
