flecs/flecs_git
imgui/cimgui
imgui/thirdparty
physfs/physfs_hg
*.dSYM
v-projects/projects/sdl2_tester/sdl_tester
v-projects/projects/imgui_tester/imgui.ini
v-projects/projects/imgui_tester/imgui_tester
v-projects/projects/flecs_tester/flecs_tester
v-projects/projects/physfs_tester/physfs_tester
imgui/Generator/bin
imgui/Generator/obj
gl3w/thirdparty
v-projects/projects/gl3w_tester/gl3w_tester
gl3w/generator/bin
gl3w/generator/obj
gl3w/generator/xml/doc
*.so
v-projects/projects/gl3w_tester/gl3w_cube
imgui/cimgui_git
